.absolute-top {
    position: absolute;
    top:-10px;
}

.animationTop {
    transition: top 0.5s ;
    /* transition: background-color 0.3s; */
}

.carouselExampleCaptions {
    width: 50%;
    height: 50%;
}

.hide {
    display: none;
}

.navbar{
    font-family: Poppins;
}

@media (min-width:768px) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}